img.accessories_text_editor { background-image: url('sprites.png'); background-position: 0px -0px; background-repeat: no-repeat;}
img.apache { background-image: url('sprites.png'); background-position: 0px -16px; background-repeat: no-repeat;}
img.astrid { background-image: url('sprites.png'); background-position: 0px -32px; background-repeat: no-repeat;}
img.bestPractical { background-image: url('sprites.png'); background-position: 0px -48px; background-repeat: no-repeat;}
img.cpu { background-image: url('sprites.png'); background-position: 0px -64px; background-repeat: no-repeat;}
img.domain { background-image: url('sprites.png'); background-position: 0px -80px; background-repeat: no-repeat;}
img.drive-removable-media { background-image: url('sprites.png'); background-position: 0px -96px; background-repeat: no-repeat;}
img.finance { background-image: url('sprites.png'); background-position: 0px -112px; background-repeat: no-repeat;}
img.gmail { background-image: url('sprites.png'); background-position: 0px -128px; background-repeat: no-repeat;}
img.google-code-icon { background-image: url('sprites.png'); background-position: 0px -144px; background-repeat: no-repeat;}
img.google-reader { background-image: url('sprites.png'); background-position: 0px -160px; background-repeat: no-repeat;}
img.jenkins { background-image: url('sprites.png'); background-position: 0px -176px; background-repeat: no-repeat;}
img.json { background-image: url('sprites.png'); background-position: 0px -192px; background-repeat: no-repeat;}
img.konsole { background-image: url('sprites.png'); background-position: 0px -208px; background-repeat: no-repeat;}
img.mountedFs { background-image: url('sprites.png'); background-position: 0px -224px; background-repeat: no-repeat;}
img.mysql_icon { background-image: url('sprites.png'); background-position: 0px -240px; background-repeat: no-repeat;}
img.network { background-image: url('sprites.png'); background-position: 0px -256px; background-repeat: no-repeat;}
img.PingPlus { background-image: url('sprites.png'); background-position: 0px -272px; background-repeat: no-repeat;}
img.red-hat { background-image: url('sprites.png'); background-position: 0px -288px; background-repeat: no-repeat;}
img.rtm { background-image: url('sprites.png'); background-position: 0px -304px; background-repeat: no-repeat;}
img.sensor { background-image: url('sprites.png'); background-position: 0px -320px; background-repeat: no-repeat;}
img.software_update_available { background-image: url('sprites.png'); background-position: 0px -336px; background-repeat: no-repeat;}
img.svn { background-image: url('sprites.png'); background-position: 0px -352px; background-repeat: no-repeat;}
img.westlan { background-image: url('sprites.png'); background-position: 0px -368px; background-repeat: no-repeat;}
