<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="upsilon.mobile"
    android:versionCode="1"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_launcher_name"
        android:theme="@style/AppTheme" android:description="@string/app_launcher_name">
        <activity
            android:name="upsilon.mobile.MainActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_launcher_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest> 