target/
**/bin/*
.settings/
.checkstyle
var/*.png
**/config.php
**/*.swp
**/*.pyc
**/.directory
var/upsilonVagrant/*.rpm
var/upsilonVagrant/*.deb
var/upsilonVagrant/*.tar.gz
var/upsilonVagrant/*.zip
var/upsilonVagrant/*.jar
var/upsilonVagrant/.vagrant/
**/*.versionsBackup
**/*.releaseBackup
**/release.properties
