<!--
This is an EXAMPLE configuration file. You can use it as a template to create 
your own /etc/upsilon-node/config.xml. 

It requires that the check_ping command is installed in order to work. To find
the package for your system please visit; 
http://upsilon-project.co.uk/site/index.php/Ping

It is _STRONGLY_ recommended that you at least read the quickstart on the wiki
to understand what is going on here;
http://upsilon-project.co.uk/site/index.php/QuickstartNode

You can find more information by looking around on the wiki. These are good
starting places; 

http://upsilon-project.co.uk/site/index.php/Config.xml
http://upsilon-project.co.uk/site/index.php/Upsilon-node
!-->
<config>
    <system crypto = "false">
    	<!--
	Remove this comment if you would like a local database.
	Good for first time testing of upsilon-node.
    	<database dbname = "upsilon" username = "upsilon" password = "databasepasswordforsqluser" port = "3306" hostname = "localhost" />
	!-->
    </system>

    <!--
    The nagios ping command is defined here to save you some time, if you have 
    it installed on your system. The two example services defined in this file
    use the standard system `ping` to make it quicker to get up and running,
    but consider using the nagios ping command in the future, it is far better.
    <command id = "checkPingNagios" exec = "/usr/lib64/nagios/plugins/check_ping -H $ARG1 -w 75,10% -c 125,10% -p 3" />
    !-->

    <command id = "checkPing" exec = "/bin/ping -c 1 $ADDRESS -W 2" />

    <service id = "pingGoogle" commandRef = "checkPing">
        <argument name = "ADDRESS">google.com</argument>
    </service>

    <service id = "pingBbc" commandRef = "checkPing">
        <argument name = "ADDRESS">bbc.co.uk</argument>
    </service>
</config>
