body {
	font-family: Verdana, sans-serif;
	font-size: 9pt;
	line-height: 1.5;
	text-align: center;
	cursor: default;
	margin: 0;
}

input, button, select, option {
	font-family: Verdana, sans-serif;
}

div.serviceDetail, div.box, div.block {
	display: block;
	text-align: left;
	background-color: #dee3e7;
	border: 1px solid #999;
	margin: 1em;
	padding: 1em;
}

div.block {
	padding: 1em;
	width: 10em;
	vertical-align: top;
	margin: auto;
	margin-top: 1em;
	text-align: left;
	min-width: 360px;
}

div.metricgroup:hover {
	background-color: #efefef;
}

.subtle, .metricOutput {
	margin: 0;
	padding: 0;
	color: gray;
}

div.navigationMenuItems h2 {
	color: black;
	display: inline-block;
	margin: 0;

}

div.metricGroup h2 {
	margin: 0;
}

/* header page titles */
h2 {
	color: #666;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	font-size: 10pt;
}

/* page titles and major section titles */
h3 {
	margin-top: 0;
}

/* section titles */
h4 {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 10pt;
}

ul.metricList {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.metricList > li {
	margin-bottom: 1em;
}

ul.metricList > li:last-child {
	margin-bottom: 0;
}

.metricIndicator {
	font-family: monospace;
	min-width: 3em;
	background-color: #999;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	border: 1px solid lightgray;
	font-size: 8pt;
}

.metricIndicator.grouped {
	border: 1px dashed black;
}

.metricText {
	display: inline-block;	
	vertical-align: top;
}

.metricDetail {
	font-size: x-small;
	float: right;
}

.old {
	background-color: yellow;
}

.good {
	background-color: lightgreen;
}

.neut, .unknown  {
	background-color: gray;
}

.poor, .bad, .formValidationError {
	background-color: salmon !important;
}

.timeout, .warning {
	background-color: orange;
}

.skipped {
	background-color: lightskyblue;
}

p.metricGroupDescription {
	font-size: x-small;
	margin-top: 0;
}

a, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	background-color: white;
}

td, th {
	text-align: left;
}

th {
	background-color: #dee3e7;
	padding: .4em;
}

tr td {
	padding: .4em;
}

table.hover tr:hover td {
	background-color: beige;
}

tr:nth-child(even) {
	background-color: #efefef;
}

fieldset {
	text-align: left;
	border: 0;
}

pre {
	padding: 0em;
	white-space:pre-wrap;
}

div.scheduleLine {
	background-color: #dee3e7;
	display: block;
	height: 3.5em;
}

.ui-state-hover {
	background-color: beige;
}

#content {
	margin: auto;
	padding: 1em;
}

div.blockContainer {
	margin: auto;
}

ul.subresults {
	padding-left: 0em;
	list-style: none;
}

ul.metricList ul.subresults {
	font-size: x-small;
}

ul.subresults .metricIndicator {
	min-width: 1em;
	margin-right: .5em;
	margin-bottom: .5em;
}

form {
	margin: auto;
	border: 2px solid white;
}

label {
	display: inline-block;
	width: 120px;
	text-align: right;
	margin-right: 1em;
}

fieldset {
	padding: 1em;
	margin: 0;
}

form fieldset:nth-of-type(even) {
	background-color: #efefef;
}

form fieldset:nth-of-type(odd) {
	background-color: white;
}

#footer {
	margin-top: 6em;
	color: gray;
}


svg g[inkscape\:label="floors"] {
	fill: white;
}

svg g[inkscape\:label="voids"] {
	fill: white;
}

svg g[inkscape\:label="walls"] {
	fill: none; 
	stroke: #666; 
	stroke-width: 4; 
	stroke-linejoin: miter; 
	stroke-linecap:round;
}

svg g[inkscape\:label="openings"] {
	fill: none; 
	stroke: black; 
	stroke-width: 2; 
	stroke-dasharray: 10 3.5;
}

.formSection {
	font-weight: bold;
	background-color: #dee3e7;
	color: black;
	padding: .4em;
	margin: 0;
	text-align: left;
}

.control .keystroke {
	font-weight: bold;
}

a.node abbr {
	display: inline-block;
	color: black;
	padding: .4em;
}

h1 {
	color: white;
	font-size: 12pt;
	margin: 0;
}

div#header div.title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

div#header, div#header a {
	color: white;
}

div#header div.userMenuItems {
	display: table-cell;;
	vertical-align: middle;
	text-align: right;
	width: 25%;
	padding-right: 1em;
}

div#header div.nodeList {
	display: table-cell;
	text-align: center;
	width: 50%;
}

div#header {
	border-bottom: 1px solid #3f3f3f;
	text-align: left;
	background-color: #444;
	height: 3em;
	display: table;
	width: 100%;
}


table.taskList td {
	vertical-align: top;
}

table.taskList tr {
	background-color: white;
}

div.navigationMenuItems {
	color: black;
	padding: .5em;
	padding-left: 1em;
	text-align: left;
	margin-bottom: 1em;
	border-bottom: 1px solid #3f3f3f;
	background-color: #dee3e7;
}

textarea {
	width: 100%;
}

a.badButton {
	color: white;
	background-color: red;
	font-size: 10pt;
	display: inline-block;
	margin: 1em;
	padding: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

table.dataTable {
	margin-bottom: 1em;
}

table.dataTable th:hover, p.collapseable:hover {
	background-color: #444;
	color: white;
	cursor: pointer;
}

.dataTables_filter {
	display: inline-block;
	float: left;
}

.dataTables_filter label, .dataTables_length label {
	width: auto;
}

.dataTables_length {
	display: inline-block;
	margin-bottom: 1em;
}

.dataTables_info {
	display: inline-block;
	float: right;
}

.dataTables_paginate {
	display: inline-block;
	float: right;	
}

input[type="buton"], button, a[role="button"] {
	border: 1px solid #666;
	padding: .2em;
	display: inline-block;
	background-color: beige;
	color: black;
	margin-left: 1em;
	display: inline-block;
	min-width: 2em;
}

input[type="buton"]:hover, button:hover, a[role="button"]:hover {
	text-decoration: none;
	background-color: #444;
	border: 1px solid black;
	color: white;
	cursor: pointer;
}

fieldset button {
	float: right;
}

.paginate_enabled_next, .paginate_disabled_next {
	background-image: url('../images/icons/go-next.png');
	background-repeat: no-repeat;
	background-position: center;
}

.paginate_enabled_previous, .paginate_disabled_previous {
	background-image: url('../images/icons/go-previous.png');
	background-repeat: no-repeat;
	background-position: center;

}

div.node {
	display: inline-block;
	margin: 1em;
}

div.node a {
	display: block;
	padding: 1em;
	color: black !important;
}

div.loginFormContainer {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.select2-results {
	text-align: left;
}

.messageInfo, .box.tutorialMessage {
	background-image: url('../images/icons/32x32/status/messagebox_info.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-color: beige;
	color: black;
	padding-left: 40px;
}

.graph {
	min-height: 150px;
}

.menu {
	display: inline-block;
}

.menu:first-child {
	margin: 0 !important;
}

.menu ul {
	display: none;
}

.menu:hover ul {
	display: block;
}

ul.submenu li {
	margin: 0;
	min-width: 16em;
	text-align: left;
}

ul.submenu li a {
	display: block;
	padding: .2em;
	color: blue !important;
}

ul.submenu li a:hover {
	background-color: beige;
	text-decoration: none;
}

ul.submenu {
	margin-top: -1px;
	padding: 0;
	position: absolute;
	clear: both;
	list-style: none;
	border: 1px solid black;
	background-color: white;
	z-index: 99;
}

h3 + ul.submenu {
	margin-top: -1em;
}

div.menu > *:first-child:after {
	content: ' \25bc';
}


