Package: upsilon-node
Section: misc
Architecture: all
Depends: openjdk-7-jre-headless, python
Description: A distributed, flexible and extensible system monitoring application.
 A distributed, flexible and extensible system monitoring application. 
Distribution: development
Version: [[version]]
Priority: optional
Maintainer: Nobody <nobody@upsilon-project.co.uk>
