<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<logger name = "sun.net.www.protocol" level = "WARN" />
    <logger name = "ch.qos.logback" level = "WARN" />
    <logger name = "javax.management" level = "WARN" />
    <logger name = "com.sun.jersey" level = "WARN" />
     
    <!-- set webserver and general SSL messages on -->    
    <logger name = "org.glassfish.grizzly.http.server" level = "WARN" /> 
    <logger name = "org.glassfish.grizzly" level = "INFO" />
    <logger name = "org.glassfish.grizzly.ssl" level = "TRACE" />
      
    <!-- disable low level SSL messages -->
    <logger name = "org.glassfish.grizzly.ssl.SSLEncoderTransformer" level = "INFO" />
    <logger name = "org.glassfish.grizzly.ssl.SSLDecoderTransformer" level = "INFO" />
    <logger name = "org.glassfish.grizzly.ssl.SSLFilter" level = "INFO" />    
     
    <!-- disable low level XML messages -->
    <logger name = "com.sun.xml.bind.v2" level = "WARN" />
    <logger name = "javax.xml.bind" level = "WARN" />
    
    <logger name = "upsilon" level = "DEBUG" />  
        
    <root>
        <appender class="ch.qos.logback.core.ConsoleAppender">   
        	<encoder>   
        		<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
        	</encoder>    
        </appender>    
    </root>   
</configuration>   